### Loading Data from Flexvolt Txt files

### General Imports and Pandas Settings

In [1]:
import pandas as pd
import numpy as np

In [16]:
fv_df_1 = pd.read_csv(r"C:\Users\ggomp\OneDrive\Documents\GitHub\TS_Aware-SagemakerS\Flexvolt Data\5 Second Horizontal upper 3rd\flexvolt-recorded-data--2021-05-25--17-58-07.txt", sep=',', skiprows=1, header=0)
display(fv_df_1)

         Time (ms)  Chan 1 Raw  Chan 1Processed
0    1621979887765       8.892            9.629
1    1621979887775       8.892            9.714
2    1621979887785       8.892            9.714
3    1621979887795       8.892            9.799
4    1621979887805       8.892            9.799
..             ...         ...              ...
591  1621979893703       6.669            7.807
592  1621979893713       6.669            7.701
593  1621979893723       6.669            7.593
594  1621979893733       6.669            7.484
595  1621979893743       6.669            7.484

[596 rows x 3 columns]

In [23]:
del fv_df_1['Chan 1 Raw','Time (ms)']
display(fv_df_1)

     Chan 1Processed
0              9.629
1              9.714
2              9.714
3              9.799
4              9.799
..               ...
591            7.807
592            7.701
593            7.593
594            7.484
595            7.484

[596 rows x 1 columns]

## RL for building Clustering Alg

Okay so at this point I have a vector containing 100x1 second data points, so Id basically truncate all arrays to the first 500 points, normalize these values, and then make an LSTM which had an input vector of 500, for 5 seconds. Atleast thats what I would do for a supervised learning setup, so the next step would be looking up what kind of NN works best for clustering with timeseries data, or maybe any kind of data, but likely timeseries data.

Yep, so it looks like there are algorithms I can paste in here that are built for "NN clustering", but also, a sklearn clustering alg is likely to work just as well, as long as it is built to use timeseries data

In [17]:
# pd.DataFrame(data, columns=)

cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]
        }

df = pd.DataFrame(cars, columns = ['Brand', 'Price'])

print (df)

            Brand  Price
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000

In [19]:
max1 = df['Price'].max()
print(max1)

35000